.cb_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  margin: 20px 40px;
}

.cb_icon {
  padding: 4px;
}

.cb_description {
  margin: 0;
  font-family: Cairo-SemiBold;
  color: rgb(84, 175, 191);
}

.cb_name {
  margin: 0;
  color: rgb(66, 62, 88);
}

.cb_right_arrow svg {
  fill: rgb(84, 175, 191);
  width: 24px;
  height: 24px;
}