.contacts_container {
  display: flex;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
}

.contact_box_row {
  display: flex;
  flex-wrap: wrap;
}

.contacts_title { 
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: rgb(66, 62, 88);
  font-size: 60px;
}

.contacts_subtitle {
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  color: rgb(66, 62, 88);
  font-size: 26px;
}

@media screen and (max-width: 600px) {
  .contacts_container {
    padding-top: 10px;
  }
 
  .contacts_title {
    margin: 0;
    font-size: 40px; 
  }

  .contacts_subtitle {
    font-size: 20px;
    margin: 20px;
  }

  .contact_box_row {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .cb_container {
    margin: 5px;
  }
}