.skills_container {
  padding-left: 4px;
}

.skills_title {
  color: rgb(66, 62, 88);
  font-size: 22px;
  font-family: Cairo-Bold;
}

.skills_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 350px;
  padding-top: 10px;
}