.skills_container {
  padding-left: 4px;
}

.skills_title {
  color: rgb(66, 62, 88);
  font-size: 16px;
  font-family: EpilogueMedium;
}

.skills_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10px;
}