.about_container {
  margin: 10px;
}

.title {
  color: rgb(66, 62, 88);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
}