.about_container {
  padding-top: 10px;
  padding-bottom: 20px;
}

.about_title {
  font-family: Cairo-Regular;
  color: rgb(66, 62, 88);
  font-size: 36px;
}

.about_title_me {
  font-family: Cairo-Bold;
  color: rgb(84, 175, 191);
}

.about_subtitle {
  font-family: Cairo-SemiBold;
  color: rgb(66, 62, 88);
  font-size: 18px;
  padding-bottom: 8px;
}

.about_description {
  font-size: 16px;
  color: rgb(136, 133, 158);
}

.about_description p {
  margin: 8px 0;
  color: rgb(66, 62, 88);
}

.about_description p span {
  font-family: Cairo-Bold;
  color: rgb(84, 175, 191);
}