.about_container {
}
.about_title {
  font-family: Cairo-Regular;
  color: rgb(66, 62, 88);
  font-size: 36px;
}

.about_title_me {
  font-family: Cairo-Bold;
  color: rgb(84, 175, 191);
}

.about_subtitle {
  font-family: Cairo-SemiBold;
  font-size: 18px;
  padding-bottom: 16px;
}

.about_description {
  font-size: 14px;
  color: rgb(136, 133, 158);
}