input[type=text], input[type=email] {
  width: 100%;
  padding: 6px 12px;
  margin-top: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Cairo-Regular;
  color: rgb(66, 62, 88);
}

input:focus {
  outline: none;
  border: 1px solid rgb(84, 175, 191);
}

input:hover {
  cursor: pointer;
}