.header_container {
  width: 100%;
  height: 40px;
}

.header_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;
}

.header_title {
  color: rgb(66, 62, 88);
  font-size: 22px;
  font-family: Cairo-Bold;
}

.header_title_o {
  font-family: Cairo-Bold;
  font-size: 22px;
  color: rgb(84, 175, 191);
}