.header_container {
  width: 100%;
  height: 60px;
}

.header_content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 75px;
}

.header_title {
  color: rgb(66, 62, 88);
  font-size: 24px;
  font-family: Cairo-Bold;
}

.header_title_o {
  font-family: Cairo-Bold;
  font-size: 22px;
  color: rgb(84, 175, 191);
}

.menu_btn {
  text-decoration: none;
  color: rgb(66, 62, 88);
  font-family: Cairo-Bold;
  padding: 0 30px;
}

.menu_btn:hover {
  color: rgb(84, 175, 191); 
}

.active {
  color: rgb(84, 175, 191);
}