.experience_container {
}
.experience_title {
  color: rgb(66, 62, 88);
  font-size: 22px;
  font-family: Cairo-Bold;
}

.experience_subtitle {
  font-size: 14px;
  color: rgb(136, 133, 158);
  font-weight: 500;
}