.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.profile-name {
  font-size: 3em;
  font-weight: 500;
  color: #292929;
}

.profile-job {
  margin: 6px 0 30px;
  font-size: 1.8em;
  color: #292929;
  font-weight: 600;
}

.bio {
  padding: 0 75px;
  width: 600px;
}

.me {
  height: 600px;
}
.line {
  margin: 20px 0;
  width: 700px;
  height: 2px;
  background: rgb(235, 235, 235);
}

@keyframes react-icon {
  100% {
    transform: rotate(900deg)
  }
}
.react-icon {
  margin-top: 4px;
  fill: #292929;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.social-media {
  display: flex;
  margin: 20px 0;
}

.c {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: 'pointer';
  margin-right: 6px;
}