@font-face {
  font-family: Epilogue;
  src: url('./assets/fonts/epilogue/Epilogue-Light.ttf');
}

@font-face {
  font-family: EpilogueMedium;
  src: url('./assets/fonts/epilogue/Epilogue-Medium.ttf');
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: Epilogue, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  border-color: #fafafa;
}


#root {
  min-height: 100vh;
}